# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\bootstrap 5\bootstrap-5.0.0-beta3-examples\1cheatsheet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
